<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% if not user.is_authenticated %}
        <h2>Iniciar Sesión</h2>
        <form method="post" action="{% url 'cliente:login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Iniciar Sesión</button>
        </form>
    {% else %}
        <p>Bienvenido, {{ user.username }}. <a href="!#">Cerrar Sesión</a></p>
    {% endif %}
</body>
</html>
